{% extends 'base.twig' %}

{% block body %}
    <div class="container">
        <img class="card-img-top" src="https://dummyimage.com/1200x400/685ba6/f7f8ff.jpg" alt="Card image cap">
        <h1 class="mt-3 mb-3">Blog Post Title</h1>
    </div>
{% endblock %}